<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here. And more text for style</p>
        {{> footer}}
    </body>
</html>