<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body> 
        <h1>Will be right back</h1>

        <p>The site is currently down for maintenance. Will be back up shortly.</p>
    </body>
</html>